GPTP/Debug/BuildLog.htm
GPTP/Debug/vc90.idb
GPTP/Debug/patch/GPTP.exp
GPTP/Debug/mt.dep
GPTP/Debug/GPTP.qdp.intermediate.manifest
GPTP/Debug/GPTP.qdp.embed.manifest.res
GPTP/Debug/GPTP.qdp.embed.manifest
GPTP/Debug/patch/GPTP.qdp
GPTP/Release/BuildLog.htm
GPTP/Release/GPTP.qdp.intermediate.manifest
GPTP/Release/mt.dep
GPTP/Release/patch/GPTP.exp
GPTP/Release/patch/GPTP.qdp
GPTP/Release/vc90.idb
