GPTP/Debug/BuildLog.htm
GPTP/Debug/vc90.idb
GPTP/Debug/patch/GPTP.exp
GPTP/Debug/mt.dep
GPTP/Debug/GPTP.qdp.intermediate.manifest
GPTP/Debug/GPTP.qdp.embed.manifest.res
GPTP/Debug/GPTP.qdp.embed.manifest
GPTP/Debug/patch/GPTP.qdp
